@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

/* HEADER */

.header {
    position: relative;
    padding: .6rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F0F2F2;
    border-bottom: 1.5px solid rgba(128, 128, 128, 0.185);
}

.header__burguerIcon {
    cursor: pointer;

}

/* ICON BURGER */
.header__burguerIcon,
.fa-bars {
    font-size: 1.6rem;
}

.header__logoContainer {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.header__logoContainer a {

    text-decoration: none;
    color: #000;
    font-weight: 700;
    font-size: 1.1rem;
}

.header__imgContainer img {
    height: 100%;
    width: 100%;
}

.header__imgContainer {
    width: 25px;
    height: 25px;
}

.header__searchForm {
    display: flex;
    border-radius: .6rem;
    width: 95%;
    height: 40px;
}

.header__filterSelect {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.header__formContainer {
    width: 100%;
    display: flex;
    align-items: center;
}

.header__searchForm input {
    width: 100%;
    height: 40px;
    padding: 0 1rem;
    border: none;
    border-radius: 0 .6rem .6rem 0;


}

.header__searchForm input:focus {
    outline: none;
}

.header__burguerIcon,
.fa-magnifying-glass {
    color: #070707;
    /*     color: #F0F2F2; */
}

.header__iconSpan {
    padding: 0 1rem;
    background-color: rgb(218, 218, 218);
    /*  background-color: rgb(20, 20, 20); */
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: .6rem 0 0 .6rem;

}


.header__filterSelect select {
    border: none;
    height: 35px;
    padding: 0 .5rem;
    border-radius: 1rem;
    border: 2px solid rgba(0, 0, 0, 0.199);
    color: #0a0a0a;
}

.header__filterSelect select:focus {
    outline: none;
}

.header__filterSelect select>option {
    background-color: #ffffff;
    color: #000;
}

.header__filterText {
    color: #F0F2F2;
    font-weight: 700;
    border-bottom: 1px solid gray;
    width: 90%;
    text-align: center;
}

@media (max-width: 992px) {
    .header__filterOptionsContainer {
        padding: 1rem 0;
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        position: absolute;
        top: 100%;
        right: 5%;
        background-color: #252525fd;
        height: 300px;
        max-width: 300px;
        width: 100%;
        z-index: 1;
        border-radius: .7rem;

    }
}

@media (min-width: 992px) {
    .header {
        justify-content: space-between;
    }

    .header__burguerIcon {
        display: none;
    }

    .header__filterOptionsContainer {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .header__searchForm {
        background-color: #fff;
        max-width: 450px;
        height: 42px;
        width: 100%;
        display: flex;

    }

    .header__iconSpan {
        background-color: rgb(20, 20, 20);
    }

    .header__burguerIcon,
    .fa-magnifying-glass {
        color: #F0F2F2;
    }

    .header__filterSelect {
        display: block;
    }

    .header__filterText {
        display: none;
    }

}

/* FILTER BUTTONS*/

.filterButtons {
    max-width: 80%;
    margin: 1rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: .5rem;

}
@media (min-width: 576px){
    .filterButtons{
        justify-content: flex-start;
    }
}


.filterButtons>button {
    width: 100px;
    height: 30px;
    border-radius: 1rem;
    border: 1.5px solid #0a0a0a;
    color: #000000;
    background-color: transparent;
    cursor: pointer;
    font-weight: 700;

}

.filterButtons button:first-child {
    background-color: #0a0a0a;
    color: #F0F2F2;
}

/* CARDS */
.newsContainer {
    width: 80%;
    margin: 2.5rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

.newsContainer__card {
    background-color: #ebebebc9;
    color: #222222;
    border-radius: .3rem;
}

.newsContainer__cardImage img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: .3rem .3rem 0rem 0;
}

.newsContainer__cardContet {
    padding: 1rem;
}

/* FOOTER */

.footer {
    padding: 2rem;
    text-align: center;
    background-color: #222222;
    color: #F0F2F2;
}